section.top-section {
  width: -webkit-fill-available;
  height: 100vh;
  position: relative;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

section {
  padding: 3rem 5rem;
  background: #26363d;
  color: #dfeff5;
}
.gradient {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px;
  background: linear-gradient(0deg, #26363d, transparent);
  z-index: 5;
}
button {
  background: #172226;
  color: white;
  position: absolute;
  top: 50vh;
  left: 46vw;
  font-size: 30px;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 3rem;
  z-index: 3;
}
img.sky {
  z-index: 0;
}
img.backRocks {
  z-index: 1;
}
img.MiddleRocks {
  z-index: 2;
}
img.FrontRocks {
  z-index: 4;
}
.text {
  position: absolute;
  top: 10vh;
  right: -40%;
  width: fit-content;
  font-size: 60px;
  color: #293f48;
  font-weight: 700;
  z-index: 3;
}